/vendor/
/node_modules/
.env
*.log
/storage/
cache/
/.vscode/
AppClasseV02_context.md
AppClasseV02_prompt.md
AppClasseV02_dump.txt
AppClasseV02_dump.zip
Cours.docx
Cours.md
Exercices_M3.docx
Exercices_M3.md
/images_dossier*/
*.py